<?xml version="1.0" encoding="UTF-8"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxorders">
            <SUBMENU id="mxdisplayorders" cl="admin_order" list="order_list">
                <TAB id="MO_DHL__ORDER_DHL" cl="MoDHLOrderDhl"/>
            </SUBMENU>
            <SUBMENU id="moOrderBatch" cl="MoDHLOrderBatch"/>
        </MAINMENU>
        <MAINMENU id="mxshopsett">
            <SUBMENU id="mxshippingset" cl="deliveryset" list="deliveryset_list">
                <TAB id="MO_DHL__DELIVERYSET_DHL" cl="MoDHLDeliverySetDHL"/>
            </SUBMENU>
            <SUBMENU id="mxshipping" cl="delivery" list="delivery_list">
                <TAB id="MO_DHL__DELIVERY_DHL" cl="MoDHLDeliveryDHL"/>
            </SUBMENU>
            <SUBMENU id="mxpaymeth" cl="admin_payment" list="payment_list">
                <TAB id="MO_DHL__PAYMENTS_DHL" cl="MoDHLPaymentsDHL"/>
            </SUBMENU>
            <SUBMENU id="mxcountries" cl="country" list="country_list">
                <TAB id="MO_DHL__COUNTRY_DHL" cl="MoDHLCountryDHL"/>
            </SUBMENU>
        </MAINMENU>
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="mxarticles" cl="article" list="article_list">
                <TAB id="MO_DHL__ARTICLES_DHL" cl="MoDHLArticlesDHL"/>
            </SUBMENU>
            <SUBMENU id="mxcategories" cl="category" list="category_list">
                <TAB id="MO_DHL__CATEGORIES_DHL" cl="MoDHLCategoriesDHL"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
    <OXMENU id="MO_DHL">
        <MAINMENU id="MO_DHL__INTERNETMARKE">
                <SUBMENU id="MO_DHL__INTERNETMARKE_PRODUCT" cl="MoDHLInternetmarke" list="MoDHLInternetmarkeList">
                    <TAB id="MO_DHL__INTERNETMARKE_DETAILS" cl="MoDHLInternetmarkeDetails"/>
                </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
